body {
    font-family: Arial, sans-serif;
    background-color: #2C3E36;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.resume-container {
    background: #1F2F28;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.header {
    text-align: center;
    background-image: url(bg.jpg);
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 9;
}

.content {
    display: flex;
}

.left-column {
    width: 35%;
    padding: 10px;
}

.right-column {
    width: 65%;
    padding: 10px;
}

.section {
    margin-bottom: 15px;
}

.skills .progress, .languages .progress {
    background: #555;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.skills .progress div, .languages .progress div {
    background: #27ae60;
    height: 10px;
    border-radius: 5px;
}

/* About Me Section */
#about-me {
    max-width: 400px;
    max-height: 600px;
    margin: 20px auto;
    background: rgb(109, 206, 133);
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#about-me h1 {
    text-align: center;
    color: #333;
}

#about-me p {
    line-height: 1.6;
    color: #555;
}

/* Photo Album Section */
.photo-album {
    margin-top: 20px;
    text-align: center;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    max-height: 300px; /* Updated to 300px */
}

.slides {
    display: flex;
    width: 400%;
    animation: slide 16s infinite ease-in-out;
}

.slides img {
    width: 100%;
    height: 300px; /* Set height to 300px */
    object-fit: cover; /* Ensures proper cropping */
    border-radius: 5px;
}

/* Slide Animation */
@keyframes slide {
    0% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }
                    }


